* {
    cursor: none;
}

::selection {
    background-color: var(--bg-color);
    color: #111;
}

body{
    -webkit-user-drag: none;
    -webkit-tap-highlight-color: transparent;
}

.grid .elem {
    grid-row: var(--r);
    grid-column: var(--c);
}

::-webkit-scrollbar {
    display: none;
}

.progress-container {
    cursor: grab;
    user-select: none;
}

.para .word:hover {
    background-color: var(--bg-color);
}

.custom-cursor {
    transform: translate(-50%, -50%);
}

.main-container:has(.para:hover) .custom-cursor{
    width: .25rem;
    height: .25rem;
}