::selection {
    background-color: var(--bg-color);
    color: #111;
}

body {
    cursor: none;
    -webkit-user-drag: none;
    -webkit-tap-highlight-color: transparent;
}

.grid .elem {
    grid-row: var(--r);
    grid-column: var(--c);
}

::-webkit-scrollbar {
    display: none;
}

.progress-container {
    user-select: none;
}

.para .word:hover {
    background-color: var(--bg-color);
}

.custom-cursor {
    transform: translate(-50%, -50%);
    transition: width .4s, height .4s, background-color .4s, mix-blend-mode .4s;
}

.main-container:has(.main-progress-container:hover) .custom-cursor {
    background-color: var(--bg-color);
    mix-blend-mode: normal;
}

.main-container:has(.para:hover) .custom-cursor {
    width: .25rem;
    height: .25rem;
}